.wrapper-basket {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(176, 230, 248);
  padding: 2%;
  margin-top: 2rem;
  border-radius: 9px;

  h4 {
    color: black;

    margin-left: 2rem;
  }

  .listItem {
    @include space-evenly;
    width: 100%;
    background-color: white;

    .number-items {
      width: 10%;
      @include center;

      p {
        display: inline-block;
        margin: auto;
      }
    }

    .title {
      width: 10%;
      @include center;

      p {
        display: inline-block;
        margin: auto;
      }
    }

    .wrapper-counter {
      width: 10%;
      @include space-evenly;

      .wrapper-increment {
        width: 1.5rem;
        height: 1.5rem;
        background-color: $secondary;
        border-radius: 5px;
        @include center;
        margin: auto;
      }

      .wrapper-increment:hover {
        color: white;
      }

      .count {
        margin: auto;
      }

      .wrapper-decrement {
        width: 1.5rem;
        height: 1.5rem;
        background-color: $secondary;
        border-radius: 5px;
        @include center;
        margin: auto;
      }

      .wrapper-decrement:hover {
        color: white;
      }
    }

    .price {
      width: 10%;
      @include center;

      p {
        display: inline-block;
        margin: auto;
      }
    }
  }

  .total {
    margin-left: 2rem;
  }
}
