.card {
  .wrapper-img {
    width: 100%;
    height: 100%;

    .img {
      background-size: cover;
    }
  }

  .wrapper-card {
    width: 80%;
    margin: auto auto;

    #price {
      font-weight: bold;
      margin-left: 1rem;
    }

    .wrapper-button-basket {
      @include flex-end;

      .btn:hover {
        color: white;
      }
    }
  }
}
