.card {
  .wrapper-img {
    // outline: 2px solid red;
    width: 100%;
    height: 100%;

    .img {
      background-size: cover;
    }
  }

  .wrapper-card {
    width: 80%;
    // outline: 2px solid red;
    margin: auto auto;

    .wrapper-increment {
      // outline: 2px solid red;
      @include flex-end;

      #increment {
        width: 2rem;
        size: 2rem;
        background-color: $primary;
        text-align: center;
      }

      #increment:hover {
        background-color: #0d799c;
        color: white;
      }
    }

    .wrapper-name-count {
      // outline: 2px solid red;
      width: 100%;
      height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;

      .card-title {
        width: 50%;
        // outline: 2px solid red;
        display: inline-block;
      }

      .wrapper-count {
        // outline: 2px solid red;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 4px;

        #count {
          // width: 100%;
          // height: 100%;
          // display: inline-block;
          // outline: 2px solid red;
          color: red;
          text-align: center;
        }
      }
    }

    .wrapper-decrement {
      // outline: 2px solid red;

      @include flex-end;

      #decrement {
        width: 2rem;
        size: 2rem;
        background-color: $secondary;
        text-align: center;
      }
      #decrement:hover {
        background-color: #9e701b;
        color: white;
      }
    }

    #price {
      font-weight: bold;
      margin-left: 1rem;
    }

    .btn {
      width: 100%;
    }
  }
}
