@import "../abstracts/mixins";
@import "../components/create";

.container-title {
  @include center;
  color: orange;
  margin-top: 3rem;

  .title {
    color: orange;
    font-size: 3rem;
    text-decoration: none;
  }
  .title:hover {
    color: $primary;
  }
}
