@mixin center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
